@CHARSET "UTF-8";

.noLayout{
	border-style: none;
}

.baseLayout, tr, td, th {
	border: 1px solid silver;
	border-collapse: collapse;
	text-align: center;
	border-radius: 3px;
	padding: 15px;
}

.noPadding{
	padding: 0px;
}

.addPadding{
	padding-left: 30px;
	padding-right: 30px;
}

.fillingImage{
	width: 100%;
	border-radius: 3px;
}

.alignCenterImg {
	display: block;
	margin: 0 auto;
}

.alignCenter {
	text-align: center;
}

.alignRight{
	text-align: right;
}

.alignLeft{
	text-align: left;
}

.backgroundColorCells{
	background-color: #deffb3;
	<!--10% of yellow-green-->
}

.loraFont {
	font-family: Lora, verdana;
}

.textColorFooter{
	color: #8080ff;
	<!-- light navy blue-->
}

.textColorGray{
	color: gray;
}

.textColorRed{
	color: red;
}

.textColorGreen{
	color: #00ff00;
	<!-- light green 'lime'-->
}
